.messages-container {
    position: relative;
    display: grid;
    grid-template-rows: auto $layout-sizing-medium;

    .messages {
        border-bottom: $border-width solid $bolder-color;
        list-style: none;
        padding: $space-small;
        overflow-y: auto;
        margin: 0;
        
        .message {
            font-size: $font-x-small;
            background: $light-color;
            display: inline-block;
            padding: $space-xx-small $space-large;
            text-align: left;
            border-radius: $border-radius;
            max-width: 60%;
        }

        .message-info {
            font-size: $font-xx-small;
            margin-bottom: $space-small;
        }

        .self-message {
            text-align: right;

            .message {
                background: $primary-color;
                color: $white;
            }
        }
    }    
}