/* COLORS */
$dark-background: #352646;
$light-background: #653698;
$primary-color: #7541AD;
$light-color: #dfdce6;
$bolder-color: #cccccc;
$white: #ffffff;
$black: #000000;

/* BORDER */
$border-radius: 0.5rem;
$border-width: 1px;

/* SPACING */
$space-xx-small: 0.5rem;
$space-x-small: 0.6rem;
$space-small: 1rem;
$space-medium: 1.5rem;
$space-large: 2rem;
$space-x-large: 2.5rem;

/* FONT SIZING */
$font-xx-small: 0.75rem;
$font-x-small: 1rem;
$font-small: 1.25rem;
$font-medium: 1.5rem;
$font-large: 2rem;

/* LAYOUT */
$layout-sizing-small: 4rem;
$layout-sizing-medium: 10rem;
$layout-sizing-large: 15rem;
$layout-sizing-x-large: 20rem;
$layout-breakpoint-max: 1023px;
$layout-breakpoint-min: 1024px;
